.product {
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  min-width: 250px;
  min-height: 100px;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
}

.product p {
  margin-bottom: 1rem;
}

.product span {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.product__edit {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  cursor: pointer;
  font-weight: normal;
}

.product__edit:hover {
  background-color: black;
  color: white;
}
/*# sourceMappingURL=Product.css.map */