.product {
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-width: 250px;
  min-height: 100px;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;

  p {
    margin-bottom: 1rem;
  }

  span {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  &__edit {
    width: 70px;
    height: 30px;
    border-radius: 4px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    font-weight: normal;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
