.register-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register {
    width: 70%;
    max-width: 500px;
    min-width: 400px;
    min-height: 400;
    border-radius: 16px;
    border: 1px solid #000000;
    padding: 2rem;
    background-color: rgb(218, 216, 216);

    &__title {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 3rem;
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__form-group {
      width: 100%;
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      input {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid grey;
      }
    }

    &__button {
      width: 100px;
      height: 30px;
      background-color: grey;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;
      margin: auto;
      margin-bottom: 2rem;

      &:hover {
        background-color: black;
      }
    }

    &__loading,
    &__error {
      font-size: 1.2 rem;
    }
  }
}

.login-button {
  cursor: pointer;
}
