.login-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login {
  width: 70%;
  max-width: 500px;
  min-width: 400px;
  height: 80%;
  min-height: 500px;
  max-height: 420px;
  border-radius: 16px;
  border: 1px solid #000000;
  padding: 2rem;
  background-color: #dad8d8;
}

.login-container .login__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.login-container .login__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login__form-group {
  width: 100%;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.login-container .login__form-group label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.login-container .login__form-group input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid grey;
}

.login-container .login__button {
  width: 100px;
  height: 30px;
  background-color: grey;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 2rem;
}

.login-container .login__button:hover {
  background-color: black;
}

.login-container .login__loading, .login-container .login__error {
  font-size: 1.2 rem;
}

.register-button {
  cursor: pointer;
}
/*# sourceMappingURL=Login.css.map */