.logout {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: rgb(46, 46, 46);
  }
  margin: 2rem auto;
}
