.products {
  width: 100%;
  min-height: 200px;
  margin-left: -2rem;
  margin-bottom: -2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}

.button {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: rgb(46, 46, 46);
  }
  margin: 2rem auto;
}

.edit-product {
  margin: 3rem auto;
  border-radius: 4px;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 250px;
  max-width: 350px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    label {
      margin-bottom: 1rem;
    }

    input {
      padding: 5px;
      border-radius: 4px;
    }
  }

  .button {
    margin: 1rem auto;
    font-weight: normal;
  }

  span {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
